table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
}

th, td {
	padding: 5px;
}

.statistic {
    position: relative;
    padding: 5px;
    bottom: 950px;
    padding-left: 100px;
}