<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: center;
        }
    </style>
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <div class="container">
        <table>
            <tr>
                <th>№</th>
                <th>буква</th>
                <th>частота</th>
                <th>%</th>
                <th>% c пробелом</th>
            </tr>
            <th:block th:each="listChars, stat : ${listChars}">
                <tr>
                    <td th:text="${stat.count}"> </td>
                    <td th:text="${stat.current}"> </td>
                    <td th:text="${listFrequency.get(stat.index)}"> </td>
                    <td th:text="${listProbability.get(stat.index)}"> </td>
                    <td th:text="${listProbabilitySpace.get(stat.index)}"> </td>
                </tr>
            </th:block>
        </table>
        <h3 th:text="'количество пробелов: ' + ${countSpace}"></h3>
        <h3 th:text="'количество символов без пробела: ' + ${textSizeWithoutSpaces}"></h3>
        <h3 th:text="'количество символов с пробелами: ' + ${textSizeWithSpaces}"></h3>
        <h3 th:text="'индекс совпадений: ' + ${indexMatch}"></h3>
        <h3 th:text="'индекс совпадений с пробелами: ' + ${indexMatchSpace}"></h3>
    </div>



    <a href="#" th:href="@{/decoding}">Decoding</a>
</body>
</html>