<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Decoding</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h3>Ключ</h3>
    <div>
        <table>
            <tr>
                <th>№</th>
                <th:block th:each="map, i : ${mapKeys}">
                    <td th:text="${i.count}"></td>
                </th:block>
            </tr>
            <tr>
                <th>шифр текст</th>
                <th:block th:each="map, i : ${mapKeys}">
                    <td th:text="${map.key}"></td>
                </th:block>
            </tr>
            <tr>
                <th>ИТ тексты</th>
                <th:block th:each="map, i : ${mapKeys}">
                    <td th:text="${map.value}"></td>
                </th:block>
            </tr>
        </table>
    </div>
    <h3>Оставшиеся</h3>
    <div>
        <table>
            <tr>
                <th>№</th>
                <th:block th:each="map, i : ${newMapp}">
                    <td th:text="${i.count}"></td>
                </th:block>
            </tr>
            <tr>
                <th>шифр текст</th>
                <th:block th:each="map, i : ${newMapp}">
                    <td th:text="${map.key}"></td>
                </th:block>
            </tr>
            <tr>
                <th>ИТ тексты</th>
                <th:block th:each="map, i : ${newMapp}">
                    <td th:text="${map.value}"></td>
                </th:block>
            </tr>
        </table>
    </div>


    <h3>Зашифрованный текст</h3>
    <p style="word-wrap: break-word" th:text="${encodedText}" />

    <h3>Расшифрованный текст после замены букв</h3>
    <p th:text="${decodedText}" />

    <form name="form" method="POST" action="#" th:action="@{/decoding/newReplaceSymbol2}">

        <input type="text" name="sourceSymbol" placeholder="Исходная буква"/>
        <input type="text" name="targetSymbol" placeholder="Замена"/>
        <input type="hidden" name="decodedText" th:value="${decodedText}"/>
        <input type="hidden" name="jsonMapKey" th:value="${jsonMapKey}"/>
        <input type="hidden" name="jsonNewMap" th:value="${jsonNewMap}"/>
        <input type="hidden" name="jsonSortMap" th:value="${jsonSortMap}"/>
        <button type="submit" th:text="Применить"/>
        <!--<input type="button" value="Назад" onclick="javascript:window.location='/statistic'"/>-->

    </form>

</body>
</html>