<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>replaceSymbol</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <h3>текст до замены</h3>
        <p th:text="${oldText}"></p>
        <h3>текст после замены [[${sourceSymbol}]] на [[${targetSymbol}]]</h3>
        <p th:text="${text}"></p>
        <a href="#" th:href="@{/decoding/simpleReplacement}">Back</a>

        <form method="POST" action="#" th:action="@{/decoding/replaceSymbol2}">

            <input type="text" name="sourceSymbol" placeholder="Исходная буква"/>
            <input type="text" name="targetSymbol" placeholder="Замена"/>
            <input type="hidden" name="decodedText" th:value="${text}"/>
            <input type="hidden" name="json" th:value="${json}"/>
            <button type="submit" th:text="Ok"/>

        </form>
    </body>
</html>