<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>key</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

  <h3>Ключ</h3>
    <div>
      <table>
        <tr>
          <th>№</th>
          <th:block th:each="map, i : ${mapKey}">
            <td th:text="${i.count}"></td>
          </th:block>
        </tr>
        <tr>
          <th>шифр текст</th>
          <th:block th:each="map, i : ${mapKey}">
            <td th:text="${map.key}"></td>
          </th:block>
        </tr>
        <tr>
          <th>ИТ тексты</th>
          <th:block th:each="map, i : ${mapKey}">
            <td th:text="${map.value}"></td>
          </th:block>
        </tr>
      </table>
    </div>
  <h3>Оставшиеся</h3>
  <div>
    <table>
      <tr>
        <th>№</th>
        <th:block th:each="map, i : ${newMapp}">
          <td th:text="${i.count}"></td>
        </th:block>
      </tr>
      <tr>
        <th>шифр текст</th>
        <th:block th:each="map, i : ${newMapp}">
          <td th:text="${map.key}"></td>
        </th:block>
      </tr>
      <tr>
        <th>ИТ тексты</th>
        <th:block th:each="map, i : ${newMapp}">
          <td th:text="${map.value}"></td>
        </th:block>
      </tr>
    </table>
  </div>

  <form method="POST" action="#" th:action="@{/decoding/simpleReplacement2}">
      <input type="hidden" name="newMap"/>
      <input type="hidden" name="mapKeys"/>
      <button type="submit" th:text="Назад"/>
  </form>



</body>
</html>