<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Decoding</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <h3>массивы букв в порядке убывания по частоте в зашифрованном тексте и текстах общей направленности</h3>
    <div>
        <table>
            <tr>
                <th>№</th>
                <th:block th:each="listChars, stat : ${chars}">
                    <td th:text="${stat.count}"></td>
                </th:block>
            </tr>
            <tr>
                <th>ИТ тексты</th>
                <th:block th:each="char, i : ${chars}">
                    <td th:text="${chars.get(i.index)}"></td>
                </th:block>
            </tr>
            <tr>
                <th>шифр текст</th>
                <th:block th:each="char, i : ${charsEncoded}">
                    <td th:text="${charsEncoded.get(i.index)}"></td>
                </th:block>
            </tr>
        </table>
    </div>

    <h3>процент наиболее часто встречающейся буквы</h3>
    <p th:text="${frequencySymbol} + '%'" />

    <h3>Зашифрованный текст</h3>
    <p style="word-wrap: break-word" th:text="${encodedText}" />

    <h3>Расшифрованный текст после замены букв</h3>
    <p th:text="${decodedText}" />

    <form name="form" method="POST" action="#" th:action="@{/decoding/replaceSymbol}">

        <input type="text" name="sourceSymbol" placeholder="Исходная буква"/>
        <input type="text" name="targetSymbol" placeholder="Замена"/>
        <input type="hidden" name="decodedText" th:value="${decodedText}"/>
        <button type="submit" th:text="Применить"/>
        <input type="button" value="Назад" onclick="javascript:window.location='/statistic'"/>
    </form>

</body>
</html>